.container {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    position: relative;
  }

  .container .carousel {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .container .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .container .carousel .item {
    margin: 10px;
    padding: 10px;
    width: 190px;
    border-radius: 16px;
    flex: none;
  }
  
  .container .carousel .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*JA FOI ATÉ AQUIIIIIIIIIIIIIIIIIIIII

  /*dados no card*/
  .container .carousel .item .info .name {
    font-size: 0.875rem;
    margin: 10px 0;
    color: var(--ib-colors-gray-dark);
  }
  .containerPrices{
    display: flex;
  }
  


  .container .carousel .item .info .oldPrice {
    margin-top: 14px;
    font-size: 0.8rem;
    text-decoration: line-through;
    color: var(--ib-colors-gray-dark);
  }

/*Botões*/
  .container .buttons {
    text-align: center;
  }
  .container .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .container .buttons button:first-child img {
    transform: rotate(180deg);
  }

  /*Botões setas*/
  .arrow-button {
    position: relative;
    background-color: var(--ib-colors-brand-primary);
    border-radius: 50%;
    width: 3.1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
  }

  .right{
    right: 30px;
  }

  .left{
    left: 30px;
  }

  .top{
    top: 40px;
  }

  .right-hight{
    right: 100px;
  }
  
  .arrow {
    position: absolute;
    top: 38%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
  }

  .arrow2 {
    position: absolute;
    top: 38%;
    left: 42%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Aqui está a alteração */
    width: 13px;
    height: 13px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  .plus-button {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 3.1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  